@import "~antd/dist/antd.css";
body {
  background-color: rgb(245, 245, 245);
  font-weight: 300;
}
.navbar {
  background-color: #ffffff;
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.1);
  &__title {
    font-size: 20px;
    font-weight: 300;
  }
}
.register-form {
  &__wrapper {
    padding: 10px;
    background-color: white;
    box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.1);
  }
}

.login-form {
  &__wrapper {
    padding: 10px;
    background-color: white;
    box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.1);
  }
}
.task-form {
  .h2 {
    font-weight: 300;
  }
}
.task {
  background-color: white;
  box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.1);
  display: block;
  padding: 10px 20px;
  margin: 10px 20px;
  border-radius: 5px;
  &__description {
    font-size: 20px;
    font-weight: 300;
    min-height: 80px;
  }
  &__btn {
    margin: 0 3px;
  }
}
